* {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box {
	left: 50%;
	margin-left: -260px;
	position: relative;
	width: 520px;
	overflow: hidden;
}
.box .inner{
	width: 9999px;
	transition: all .8s ease-out;
}
.box .inner::after {
	content: '';
	clear: both;
	display: block;
}
.inner .item{
	float: left;
}
.box .btn{
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 42px;
	top: 50%;
	margin-top: -25px;
	font-size: 60px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.box .btn:active{
	background-color: rgba(0,0,0,.7);
}
.box .leftBtn{
	left: 0;
}
.box .rightBtn{
	right: 0;
}
